<body>
<div class="jumbotron jumbotron-fluid jh-jumbo">
    <div class="container">
      <h1 class="display-3 jh-jumbotext">Looking for a laugh?</h1>
      <p class="lead jh-jumbotext">Enjoy these pictures!</p>
    </div>
  </div>

  <div class="card-deck jh-card">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://i.redd.it/vm3r1fmo1nt01.gif" alt="">
        </div>
      </div>
      <div class="card ">
        <div class="card-body">
          <img class="card-img-top" src="https://i.gifer.com/FOz.gif" alt="">
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://media1.tenor.com/images/680b3074a1f96264151372273c95a558/tenor.gif?itemid=4519346" alt="">
        </div>
      </div>
    </div>

    
    <div class="card-deck jh-card">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="https://media1.tenor.com/images/e8eb14092cb68eb9b9ef9b5fe4632feb/tenor.gif?itemid=9578810" alt="">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="https://media1.tenor.com/images/5da4f87948ee4b4eb952417f3fc747dd/tenor.gif?itemid=3608304" alt="">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="https://media0.giphy.com/media/VzLR6oO6MzybC/giphy.gif" alt="">
          </div>
        </div>
      </div>

      
      <div class="card-deck jh-card">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="https://giant.gfycat.com/RegularSpectacularAgouti.gif" alt="">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="http://cdn.ebaumsworld.com/mediaFiles/picture/2308751/84133211.gif" alt="">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="https://media1.tenor.com/images/f6d9e97c91e65fbb16b8717d337fa1d2/tenor.gif?itemid=8517485" alt="">
            </div>
          </div>
        </div>

        
        <div class="card-deck jh-card">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top" src="https://media.giphy.com/media/7GbbqekEK6k8g/giphy.gif" alt="">
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img class="card-img-top" src="https://media.giphy.com/media/K0ZZjkjYKiD7y/giphy.gif" alt="">
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img class="card-img-top" src="https://media.giphy.com/media/ydZH2voKKz9m/giphy.gif" alt="">
              </div>
            </div>
          </div>

          
          <div class="card-deck jh-card">
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="https://media.tenor.com/images/e1201a6b30ffeef2935b2cbe7c847ea2/tenor.gif" alt="">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="https://media0.giphy.com/media/mNwAy8d64gz96/giphy.gif" alt="">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="https://media1.tenor.com/images/8bf35ef21b6ac5eb87127bc8cdbd4703/tenor.gif?itemid=8221252" alt="">
                </div>
              </div>
            </div>
</body>          