.donebtn {
    margin-left: 5px;
    margin-right: 5px;
}

.editbtn {
    margin-left: 5px;
    margin-right: 5px;
}

.deletebtn {
    margin-left: 5px;
    margin-right: 5px;
}

.jh-jumbotext{
    text-align: center;
    color: white;
}

.jh-jumbo{
    background-color: #800000;
}