.jh-jumbotext{
    text-align: center;
    color: white;
}

.jh-jumbo{
    background-color: #800000;
}

.jh-card{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.jh-cardcolor{
    background-color: black;
}

body{
    background-color: black;
}