.jh-carousel{
    margin-bottom: 150px;
}

.pic1{
    height: 250px;
    width: auto;
}

.pic2{
    height: 250px;
    width: auto;
}

.pic3{
    height: 350px;
    width: auto;
}

.pictext{
    font-size: 25px;
}

.jh-jumbotext{
    text-align: center;
    color: white;
}

.jh-jumbo{
    background-color: #800000;
}